body {
    font-family: Arial, sans-serif;
    background-color: #ffccd9;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #333;
}

h1 {
    color: #e50050;
    font-size: 2.5rem;
    margin-top: 100px;
}

p {
    font-size: 1.2rem;
    color: #555;
    margin: 20px 0;
}

.button {
    background-color: #e50050;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #d10045;
}

.heart {
    font-size: 4rem;
    color: #ff6666;
    margin-top: 50px;
}

.image-container {
    display: none;
    margin-top: 30px;
}

img {
    width: 300px;
    border-radius: 10px;
}